/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}



/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    min-width: 580px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
}

table th {
    background-color: #009879;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

table tr {
    border-bottom: 1px solid #dddddd;
}

table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

table td {
    border-right: 1px solid #dddddd;
}

table td:last-child {
    border-right: 0;
}

table a {
    color: #009879;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

/* 버튼 스타일 */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 0.9em;
    color: #fff;
    background-color: #009879;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #007f63;
}

/* 폼 스타일 */
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input[type="text"], form input[type="password"], form textarea, form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background: #009879;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background: #007f63;
}

form label {
    font-weight: bold;
}

/* 에러 메시지 스타일 */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    display: block;
}

/* 이미지 미리보기 스타일 */
img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
/* 미리보기 이미지 스타일 */
.thumbnail-preview {
    width: 60px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    margin: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}